In [1]:
import pandas as pd

In [3]:
br = pd.read_csv('var_out.csv')
brm = br[['barcode','aa_substitutions','n_aa_substitutions']]

In [4]:
brm['barcode'].unique().shape

(354897,)

In [12]:
brm.shape

(354897, 2)

In [5]:
brm.to_csv('out.csv', index = False, header = False)

In [13]:
il = pd.read_csv('test.txt')

il['freq'] = il['barcode'].map(il['barcode'].value_counts())
il

,found,barcode,aa_mutation,n_aa_substitutions,freq
0,0,TCCGGGAGTCATGGT,NaN,NaN,1
1,0,CGTTGATTCCTGTTT,NaN,NaN,1
2,3,TCAGCCGGAATTAACCCTCACTAA,NaN,NaN,21
3,0,TTTCGAGTTGGAGGT,NaN,NaN,1
4,3,NGCTTTTGCCCTGCAGGCCTAGTGTGTCCCGTGC,NaN,NaN,1
...,...,...,...,...,...
19777,0,CTCCGCGGGTTTCAT,NaN,NaN,1
19778,0,GGTAGCGTGCGGGAA,NaN,NaN,1
19779,0,GGCGTTCCTATGCTG,NaN,NaN,2
19780,0,CCTTGTGTTTCATTT,NaN,NaN,2
19781,0,CTTTTCACACTGGGG,NaN,NaN,1

In [12]:
il['barcode'].value_counts()

TCAGCCGGAATTAACCCTCACTAA    21
AGTTGCACGCTGTAG             11
CGTTGTGCCACAGGG              8
GGGCTGCTTCTGTAA              7
TGCTTTGTCTTCTTT              6
                            ..
GTTAATTAGGATTAG              1
GGTCGTTGGAGGCGG              1
TCTTGCTTAGGTGGG              1
TTAGTGATCGCCTTG              1
GTATGTTTGAGGCTG              1
Name: barcode, Length: 17265, dtype: int64

In [2]:
out = pd.read_csv('test.txt')
out

,found,barcode,aa_mutation,n_aa_substitutions
0,0,TCCGGGAGTCATGGT,NaN,NaN
1,0,CGTTGATTCCTGTTT,NaN,NaN
2,3,TCAGCCGGAATTAACCCTCACTAA,NaN,NaN
3,0,TTTCGAGTTGGAGGT,NaN,NaN
4,3,NGCTTTTGCCCTGCAGGCCTAGTGTGTCCCGTGC,NaN,NaN
...,...,...,...,...
19777,0,CTCCGCGGGTTTCAT,NaN,NaN
19778,0,GGTAGCGTGCGGGAA,NaN,NaN
19779,0,GGCGTTCCTATGCTG,NaN,NaN
19780,0,CCTTGTGTTTCATTT,NaN,NaN
19781,0,CTTTTCACACTGGGG,NaN,NaN

In [17]:
out.assign(freq=lambda x: x.barcode.map(out['barcode'].value_counts())).query('found == 1').query('freq > 1').drop_duplicates()[['aa_mutation','freq']].groupby(['aa_mutation']).sum()

                         freq
aa_mutation
A127L S311A                 2
A296F                       2
A320D                       2
C143L                       2
D110R                       2
D133E                       2
D347E                       2
D63V                        2
E295W                       2
E39A                        2
E72D E322P                  2
F58Y L278K                  2
G126Q                       2
G180D K307G                 2
G290D                       2
G337V                       2
H360S                       2
I128V R210D                 2
I255V                       5
K109A                       2
K109S                       2
K205L                       2
K209T                       2
L33M A127Y                  2
P125L                       2
Q144V                       2
Q200L                       2
Q44F                        3
R148M                       2
R160F                       2
R254L                       2
R358V                       2
R364Q                       2
S120D K205G                 2
S215F                       3
S220H                       2
S29D                        2
T84E                        2
T84G R364L                  2
T84N                        2
V204M N248V A296L G337A     2
W107V                       2
Y115Q                       2

In [13]:
out.query('found == 1').assign(freq=lambda x: x.barcode.map(out['barcode'].value_counts())).query('freq > 1').drop_duplicates()[['aa_mutation','freq']].fillna('wt').groupby(['aa_mutation'], as_index=False).sum()

                aa_mutation  freq
0               A127L S311A     2
1                     A296F     2
2                     A320D     2
3                     C143L     2
4                     D110R     2
5                     D133E     2
6                     D347E     2
7                      D63V     2
8                     E295W     2
9                      E39A     2
10               E72D E322P     2
11               F58Y L278K     2
12                    G126Q     2
13              G180D K307G     2
14                    G290D     2
15                    G337V     2
16                    H360S     2
17              I128V R210D     2
18                    I255V     5
19                    K109A     2
20                    K109S     2
21                    K205L     2
22                    K209T     2
23               L33M A127Y     2
24                    P125L     2
25                    Q144V     2
26                    Q200L     2
27                     Q44F     3
28                    R148M     2
29                    R160F     2
30                    R254L     2
31                    R358V     2
32                    R364Q     2
33              S120D K205G     2
34                    S215F     3
35                    S220H     2
36                     S29D     2
37                     T84E     2
38               T84G R364L     2
39                     T84N     2
40  V204M N248V A296L G337A     2
41                    W107V     2
42                    Y115Q     2
43                       wt   161

In [14]:
outn = out.copy().query('found == 1')
outn

       found          barcode  aa_mutation  n_aa_substitutions
11         1  ATGTTAAGCTTTCAG         T56S                 1.0
19         1  CCAGTGTTGTCGCTG  A172V L174A                 2.0
24         1  GTTCGCGTGGTCCGC          NaN                 0.0
33         1  TTCAGGATCTGTGTG        K109A                 1.0
34         1  TAGTGTTCGTCTGTG          NaN                 0.0
...      ...              ...          ...                 ...
19737      1  GGGCCATATGAGGGT   V79I A193F                 2.0
19739      1  TCGCGTTATGTCTAA   D40N D217E                 2.0
19757      1  CCTACATTTGGATGC          NaN                 0.0
19758      1  CGCTCTTTTTCGTTC          NaN                 0.0
19763      1  TTCATTGCTGCTTCA        K205T                 1.0

[1294 rows x 4 columns]

In [19]:
outn['freq'] = outn['barcode'].map(outn['barcode'].value_counts())
outn.query('freq > 1').drop_duplicates()[['aa_mutation','freq']].fillna('wt').groupby(['aa_mutation'], as_index=False).sum()

                aa_mutation  freq
0               A127L S311A     2
1                     A296F     2
2                     A320D     2
3                     C143L     2
4                     D110R     2
5                     D133E     2
6                     D347E     2
7                      D63V     2
8                     E295W     2
9                      E39A     2
10               E72D E322P     2
11               F58Y L278K     2
12                    G126Q     2
13              G180D K307G     2
14                    G290D     2
15                    G337V     2
16                    H360S     2
17              I128V R210D     2
18                    I255V     5
19                    K109A     2
20                    K109S     2
21                    K205L     2
22                    K209T     2
23               L33M A127Y     2
24                    P125L     2
25                    Q144V     2
26                    Q200L     2
27                     Q44F     3
28                    R148M     2
29                    R160F     2
30                    R254L     2
31                    R358V     2
32                    R364Q     2
33              S120D K205G     2
34                    S215F     3
35                    S220H     2
36                     S29D     2
37                     T84E     2
38               T84G R364L     2
39                     T84N     2
40  V204M N248V A296L G337A     2
41                    W107V     2
42                    Y115Q     2
43                       wt   161